.blog-post {
    position: relative;
    top: -15rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 15rem 10rem 10rem 10rem;
    border-left:  1rem solid $primaryAccent;
    border-bottom: 1rem solid $primaryAccent;

        h3,
        p {
            flex: 1 1 100%;
            padding-bottom: 5rem;
        }

        h3 {
            color: $primaryFontColor;
        }

        p {
            display: block;
        }
}