header {
    background-image: url(../../images/home-header.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
    max-height: 80vh;

    div {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        margin-top: 15rem;
    }

    h1 {
    }

    img {
        flex:1 1 100%;
    }
}