header {
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
    max-height: 80vh;

    div {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        margin-top: 15rem;
    }

    img {
        flex:1 1 100%;
    }

    &.home-header {
        background-image: url(../images/home-header.jpg);
    }

    &.blog-header {
        background-image: url(../images/blog-header.jpg);
    }

    &.contact-header {
        background-image: url(../images/contact-header.jpg);
    }

    .blog-h1 {
        color: $primaryWhite;
        padding: 10% 0;
    }
}