main {
    background-color: $secondaryBackground;
}

.main-section-1 {

    padding-top: 35rem;
    padding-bottom: 20rem;

    .grid-1-2-2 {
        flex-basis: 45%;
        justify-items: start;
        align-items: start;
        gap: 0 2rem;

        h2 {
            color: $primaryFontColor;
        }
        
        i {
            font-size: 2rem;
            color: $primaryFontColor;
        }
    }
}

.main-section-2 {
    background-color: $primaryBackground;
}

    .flexed-div {
        justify-content: space-between;
        margin-bottom: 5rem;

        .flex-item {
            flex-shrink: 1;
            flex-basis: 47%;
            min-width: 350px;
        }

        img:first-child {
            position: relative;
            margin-right: 2.5rem;
            top: -2.5rem;
            box-shadow: 2rem 2rem $primaryAccent;
            margin-bottom: 1rem;
        }
    
        img:last-child {
            position: relative;
            top: 2.5rem;
            margin-left: 2.5rem;
            box-shadow: -2rem 2rem $primaryAccent;
            margin-bottom: 1rem;
        }

        .quadrant-text-right,
        .quadrant-text-left {
            display: flex;
            flex-direction: column;
            padding: 0 1rem 0 1rem;
        
            h3,
            p {
                color: $primaryWhite;
                margin-bottom: 5rem;
                max-width: 80%;
            }

            a {
                @include button();
            }

        }
    
        .quadrant-text-right {
            justify-content: flex-end;
            align-items: flex-start;
        }
    
        .quadrant-text-left {
            margin-top: 5rem;
            text-align: right;
            align-items: flex-end;

            p {
                text-align: justify;
            }
        }
    }


.main-section-3 {
    @include gridCenter();
    row-gap: 5rem;
    padding: 15rem 0;
        
        h3 {
            color: $primaryFontColor;
        }

        a {
            @include button();
        }
}

.main-section-4 {
    img {
        width: 100%;
    }
}

.main-section-5 {
    padding: 15rem 0;

    .flexed-div {
        justify-content: space-between;
    }

    img {
        flex-grow: 1;
        flex-basis: 15%;
    }

    div {
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        flex-basis: 75%;
        margin-bottom: 2rem;
        margin-left: 5rem;

        h3 {
            color: $primaryFontColor;
        }
    }

    a {
        @include button();
        display: inline-block;
    }
}

.grid-1-3-3-3 {
    display: grid;
    grid-template-areas: 'menu header header header'
                        'menu main main main'
                        'menu footer footer footer';
    justify-items: start;
    align-items: start;
    align-content: space-between;
    column-gap: 10%;
    row-gap: 2%;

    img {
        padding-bottom: 2rem;
        padding-left: 2rem;
        filter: drop-shadow(-2rem 2rem $primaryAccent);
    }

    .grid-header {
        color: $primaryFontColor;
    }

    .grid-footer {
        @include button();
    }
}

.main-section-6 {
    background-color: $primaryBackground;
    padding: 15rem 0;

    .wrapper-80 {
        @include flexCenter();
        justify-content: space-between;

            > img {
            padding: 0 .5vw;
            }   
    }
}

.blog-flexed-div {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;

    .fd-1 {
        flex-shrink: 1;
        flex-grow: 1;
        flex-basis: 35%;
    }

    .fd-2 {
        flex-shrink: 1;
        flex-basis: 65%;
    }
}

.blog-left-positioning {
    padding-top: 15rem;
    display: flex;
    justify-content: center;
    margin-bottom: 20rem;
}

.blue-background {
    position: relative;
    width: 80%;
    background-color: $primaryBackground;
    padding: 0 2rem 2rem 2rem;
    color: $primaryWhite;

        img {
            position: relative;
            width: 130%;
            left: -15rem;
            top: -3rem;
        }

        h4 {
            color: $secondaryFontColor;
        }


        ul {
            display: block;

            li {
                margin-top: 0;
                padding-right: 0;
            }
        }
}

.blog-post-image {
    width: 100%;
    padding-bottom: 2rem;
    padding-left: 2rem;
    filter: drop-shadow(-2rem 2rem $primaryAccent);
    position: relative;
    top: -12rem;


    h3 {
        color: $primaryFontColor;
        margin-bottom: 5rem;
    }
}

.grid-1-2-2 {
    column-gap: 2rem;
    row-gap: 1rem;
    margin-bottom: 5rem;

        p:nth-child(2){
            color: $primaryFontColor;
        }
}

form {
    padding-top: 15rem;
    padding-bottom: 15rem;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    text-align: center;
    padding-top: 2.5rem;

        #name,
        #email {
            @include fontSize(15);
            @include hideLTR();
            flex: 0 1 49%;
            height: 5rem;
            color: $primaryBlack;
            border-bottom: .3rem solid $primaryAccent;
            padding-left: 1rem;
            margin: 1rem auto;
        }
    
        textarea {
            @include fontSize(15);
            @include hideLTR();
            flex: 0 1 99%;
            margin: 10px 0;
            min-height: 15rem;
            padding-top: 1rem;
            padding-left: 5rem;
            color: $primaryBlack;
            border-bottom: .3rem solid $primaryAccent;
        }
    
        input[type=submit] {
            background-color: $primaryBackground;
            color: $secondaryFontColor;
            @include fontSize(30);
            width: 99%;
            padding: 1rem 1.2rem;
            margin-bottom: 2rem;
            font-family: $primaryFont;
            text-transform: capitalize;
            border: none;
        }
}

.contact-blog-form {
    position: relative;
    background-color: $primaryBackground;
    box-shadow: 2rem 2rem $primaryAccent;
    margin: 0 10rem 10rem 0rem;
    padding: 5rem;
    top: -10rem;
    
        #name,
        #email,
        textarea {
            color: $primaryWhite;
            background-color: $primaryBackground;
            margin-bottom: 5rem;
        }

        textarea {
            border: .3rem solid $primaryAccent;
        }

        input[type=submit] {
            background-color: $tertiaryBackground;
            color: $primaryFontColor;
        }
    }

.contact-left-positioning {
    margin: 15rem auto;

    a {
        display: inline;
    }

    i {
        @include fontSize(30);
        padding: 0 1rem 2rem 0;
        color: $primaryFontColor;
    }

    p {
        display: block;
        text-transform: capitalize;
    }

    p:nth-child(5) {
        padding-bottom: 2rem;
        text-transform: lowercase;
    }

    p:nth-child(9) {
        text-transform: uppercase;
    }
}


