ul {
    @include navigation();
    color: $primaryWhite;
    display: flex;
    
        li {
            margin-top: 2rem;
            padding: 1rem;

            a {
                border-bottom: 3px solid transparent;
                transition: .3s ease-in;
            }

            #{$anchorTagHoverFocus} {
                border-bottom: 3px solid $primaryAccent;
                transition: .3s ease-in;
            }
        }
}
